.feature {
  display: grid;
  overflow: hidden;
  /* grid-template-areas: 'b a'; */
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 3rem auto 0;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}

.feature-item .item-icon {
  height: 3rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
.feature-item .item-title {
  font-size: 1.3rem;
  text-align: center;
}
.feature-item .item-desc {
  font-size: 0.8rem;
  text-align: center;
  max-width: 15rem;
}

@media (max-width: 900px) {
  .feature {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .feature {
    grid-template-columns: 1fr;
  }
}
