.splashBg {
  background: #3983f6
    url('https://img.alicdn.com/imgextra/i3/O1CN01wtwVyt1sSQ841CYfZ_!!6000000005765-2-tps-5120-1120.png')
    no-repeat center;
  background-size: cover;
}

.splash {
  display: grid;
  overflow: hidden;
  align-items: center;
  min-height: 35rem;
  grid-template-areas: 'b a';
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1200px;
  color: #fff;
}

.title-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  max-width: 31rem;
  padding: 0 2rem;
  box-sizing: content-box;
}

.splash-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.splash-subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.splash-btn {
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3983f6;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex: 1;
}

.splash-img {
  height: 30rem;
  object-fit: cover;
}

@media (max-width: 900px) {
  .splash {
    grid-template-areas: 'a' 'b';
    grid-template-columns: 1fr;
  }

  .title-container {
    margin-top: 7rem;
    justify-content: center;
    align-items: center;
  }

  .splash-title,
  .splash-subtitle {
    text-align: center;
  }

  .image-container {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .splash-img {
    height: 20rem;
  }
}
